/* ==== OVERVIEW ==== */

.overview-wrapper {
	align-items: center;
}
.overview-img {
	height: auto;
	width: 90%;
	max-height: 35vh;
	max-width: 35vh;
	margin: 0 auto;
    padding: 2rem;
    margin-top: 2rem;
    @include breakpoint(sm) {
		margin-top: 0;
		max-height: 40vh;
		max-width: 40vh;
		padding: 0;
    }
}