// -------------------
// ##### Fonts #####
// -------------------

$font-primary:'Roboto', sans-serif;
$font-secondary:'Oswald', sans-serif;


// -------------------
// ##### Colours #####
// -------------------

$color-primary: #27BCC2;
$color-primary-inverse: #ffffff;

$color-secondary: #f44274;
$color-secondary-inverse: #ffffff;

$color-secondary-hover: #414141;

// background colors

$bg-color-dark: #1b1d1e;




 